In [1]:
import pandas as pd
import numpy as np

# Loading Dataset

In [2]:
data = pd.read_csv("Real estate.csv")
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
New_data = data.drop(["No", "X1 transaction date"], axis = 1)
New_data

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...
409,13.7,4082.01500,0,24.94155,121.50381,15.4
410,5.6,90.45606,9,24.97433,121.54310,50.0
411,18.8,390.96960,7,24.97923,121.53986,40.6
412,8.1,104.81010,5,24.96674,121.54067,52.5
413,6.5,90.45606,9,24.97433,121.54310,63.9

# Split X and Y

In [4]:
x = New_data.iloc[:, :-1].values
pd.DataFrame(x)

        0           1     2         3          4
0    32.0    84.87882  10.0  24.98298  121.54024
1    19.5   306.59470   9.0  24.98034  121.53951
2    13.3   561.98450   5.0  24.98746  121.54391
3    13.3   561.98450   5.0  24.98746  121.54391
4     5.0   390.56840   5.0  24.97937  121.54245
..    ...         ...   ...       ...        ...
409  13.7  4082.01500   0.0  24.94155  121.50381
410   5.6    90.45606   9.0  24.97433  121.54310
411  18.8   390.96960   7.0  24.97923  121.53986
412   8.1   104.81010   5.0  24.96674  121.54067
413   6.5    90.45606   9.0  24.97433  121.54310

[414 rows x 5 columns]

In [5]:
y = data.iloc[:, -1].values

# Feature Transforming

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
min_max = MinMaxScaler()

In [8]:
scaled_x = min_max.fit_transform(x)

In [9]:
pd.DataFrame(scaled_x)

            0         1    2         3         4
0    0.730594  0.009513  1.0  0.616941  0.719323
1    0.445205  0.043809  0.9  0.584949  0.711451
2    0.303653  0.083315  0.5  0.671231  0.758896
3    0.303653  0.083315  0.5  0.671231  0.758896
4    0.114155  0.056799  0.5  0.573194  0.743153
..        ...       ...  ...       ...       ...
409  0.312785  0.627820  0.0  0.114881  0.326504
410  0.127854  0.010375  0.9  0.512118  0.750162
411  0.429224  0.056861  0.7  0.571498  0.715225
412  0.184932  0.012596  0.5  0.420141  0.723959
413  0.148402  0.010375  0.9  0.512118  0.750162

[414 rows x 5 columns]

# Split Data Set into Train Test Data

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 0)

# Prediction of Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
reg = LinearRegression()

In [14]:
reg.fit(x_train, y_train)

LinearRegression()

In [15]:
y_pred = reg.predict(x_test)

In [16]:
y_pred

array([42.28528437, 12.27992219, 41.14521971, 12.07654413, 41.19877458,
       39.96261381, 39.80967128, 34.37998382, 48.40268454, 44.96247404,
       45.49657411, 41.04699349, 41.64610787, 40.15316844, 49.23582966,
       36.14243609, 39.89878977, 43.47736565, 42.24516261, 43.47299177,
       52.44723106, 31.28121519, 41.33148963, 46.35673308, 47.99167265,
       44.74906892, 45.11535679, 28.8175559 , 48.27317433, 23.75458901,
       43.24417167, 33.56574092, 45.05394188, 36.52732377, 45.2556407 ,
       31.22510163, 47.48470692, 39.56324227, 54.19337574,  9.86489322,
       51.53883165, 34.4439916 , 36.28430241, 47.79658873, 14.78355865,
       42.93477208, 44.54719894, 15.36928391, 33.17697396, 46.84483188,
       52.2227768 , 41.21946366, 49.13044709, 24.84098435, 31.30927198,
       35.87220821, 49.10506298, 40.71252772, 45.60880124, 33.67796805,
       42.10260482, 42.09666659, 40.4613223 , 48.57102523, 39.08596413,
       30.25271463, 12.34446524, 33.0122525 , 49.30146045, 39.96261381,
       32.64105759, 48.38540146, 43.85621231, 32.74085699, 40.42496112,
       35.09918874, 34.12575297, 15.22940936, 46.27256273, 43.67618359,
       45.84677199, 30.52368207, 42.0798474 , 29.96180154, 34.44520059,
       31.73608068, 40.86746334, 44.70920711, 53.14573126, 48.04606868,
       43.47736565, 42.37345027, 31.19704485, 32.96719398, 25.10559876,
       39.51298979, 33.61285806, 42.49969772, 15.14482966, 44.90319559,
       43.47736565, 42.24516261, 42.82356454, 43.83318627, 41.5899943 ,
       31.4214991 , 41.92731433,  7.82769535, 42.25059224, 15.59720533,
       46.53365384, 42.62052843, 32.2934818 , 42.29641534, 48.41349246,
       40.09749098, 46.15232094, 40.18122522, 37.48483016, 30.97704891,
       35.07113196, 38.5672532 , 31.22510163, 43.77707271, 52.47528784])

# Prediction with outer Value

In [17]:
y_pred1 = reg.predict([[19.5, 306.59470, 10, 24.98034, 121.53951]])

In [18]:
y_pred1

array([50.17864857])

# Accurecy of models

In [19]:
from sklearn.metrics import r2_score

In [20]:
score = r2_score(y_test, y_pred)

In [23]:
score

0.5681018510026081